// This file is part of WifiQR.
//
// WifiQR is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// WifiQR is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with WifiQR.  If not, see <https://www.gnu.org/licenses/>.

@import (less) "normalize.css";
@import "./utils.less";

@normal-fg: #3e3e3e;
@link-fg: #0063a6;
@link-hl: #fc101b;
@outline: #ccc;
@stroke: #efefef;

:root {
    color: @normal-fg;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    margin: 0;
}

a {
    .link();
}

.page {
    @header-h: 80px;
    @footer-h: 130px;

    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;

    & > #app {
        box-sizing: border-box;
        min-height: calc(100vh - @footer-h - @header-h - 1px);
        padding: 10px 20px;
    }

    & > header {
        border-bottom: 1px solid @stroke;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        height: @header-h;
        padding: 20px;

        & > h1 {
            margin: 0;
            width: 100%;
            text-align: center;
        }
    }

    & > footer {
        border-top: 1px solid @stroke;
        box-sizing: border-box;
        font-size: 0.8em;
        height: @footer-h;
        padding: 10px 0;
        text-align: center;

        .content {
            margin: 0 40px;

            .copyright {
                min-width: 250px;
            }
        }

        & ul {
            .ul-horizontal();
        }
    }
}

.inputs {
    label {
        margin: 10px 0 5px;
        display: block;
        font-weight: 600;
    }

    input[type='text'], input[type='number'], select {
        box-sizing: border-box;
        border: 1px solid @outline;
        border-radius: 4px;
        padding: 10px;
        width: 100%;

        &:focus{
            border: 1px solid darken(@outline, 50);
        }
    }

    input[type='button'], input[type='submit'] {
        box-sizing: border-box;
        background-color: @link-fg;
        border: 1px solid @outline;
        border-radius: 4px;
        color: lighten(@link-fg, 80%);
        cursor: pointer;
        display: block;
        margin: 0 auto;
        padding: 10px 20px;
        width: 150px;

        &:hover {
            background-color: lighten(@link-fg, 10);
            color: darken(@link-fg, 10);
        }
    }

    .actions {
        margin-top: 20px;
    }
}

.qr-code {
    display: block;
    margin: 0 auto;
}

@media print {
    .inputs {
        label {
            display: inline-block;
            width: 33%;
        }

        input[type='text'], input[type='number'], select {
            appearance: none;
            box-sizing: border-box;
            border: none;
            padding: 10px;
            width: 65%;

            &:focus{
                border: 1px solid darken(@outline, 50);
            }
        }

        .actions {
            display: none !important;
        }
    }

    .qr-code {
        margin: 100px auto;
    }
}
