// This file is part of WifiQR.
//
// WifiQR is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// WifiQR is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with WifiQR.  If not, see <https://www.gnu.org/licenses/>.

.link() {
    cursor: pointer;
    border-bottom: 1px solid @link-fg;
    color: @link-fg;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: @link-hl;
        border-bottom: 1px solid @link-hl;
    }
}

.ul-horizontal() {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 10px 0;
        padding: 0 20px;
        text-align: center;

        &:not(:first-of-type) {
            border-left: 1px solid @normal-fg;
        }
    }
}
